<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}" xmlns="http://www.w3.org/1999/html">
    <th:block layout:fragment="css">
        <link rel="stylesheet" href="/css/card.css" />
    </th:block>

    <div class="content" layout:fragment="content">
        <div class="information">
            <i class="bi bi-postcard-heart"></i>
            <span>새해 복 많이 받으세요 !</span>
        </div>

        <div>
            <img th:src="@{'/img/00' + '1' + '.png'}" th:alt="'1' + 'image'">
        </div>
        <div class="textarea-top-margin">
            <div class="typing-txt">
                <textarea readonly id="autoResizeTextarea" rows="5" oninput="autoResize(this)">
                    안녕하세요. 테스트입니다!
                    타이핑 글씨가 잘 써지나 확인중 입니다.
                    테스트 테스트 오케이!
                    잘 써지나??
                    뭔가 이상한데??
                    에라 모르겠다~
                </textarea>
            </div>
            <div class="typing">
                <textarea readonly id="typingTextarea"></textarea>
            </div>
        </div>
        <script th:inline="javascript" src="/js/card.js"></script>
        <script th:inline="javascript" src="/js/typing.js"></script>
    </div>
</html>