<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}" xmlns="http://www.w3.org/1999/html">
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/card.css" />
    <link rel="stylesheet" href="/css/popup.css" />
</th:block>

    <div class="content" layout:fragment="content">
        <div class="information">
            <i class="bi bi-postcard-heart"></i>
            <span>새해 복 많이 받으세요 !</span>
        </div>

        <div>
            <img th:src="@{'/img/00' + ${card_id} + '.png'}" th:alt="${card_id} + 'image'">
        </div>
        <div class="inform-input-text" style="margin-top: 20px">
            <span>* 아래에 글을 작성해주세요!</span>
        </div>
        <div class="textarea-top-margin">
            <textarea id="autoResizeTextarea" name="write_content" rows="5" oninput="autoResize(this)"></textarea>
        </div>
        <div>
            <input type="hidden" name="id" th:value="${card_id}">
        </div>
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-outline-info send-btn" onclick="sendBtnClick()">카드 보내기</button>
        </div>
        <!--모달 팝업-->
        <div class="modal-container">
            <div class="modal-popup">
                <div class="vertical-center">
                    <h4 class="text-center">소중한 편지가 작성되었어요!</h4>
                    <h4 class="text-center">어서 공유해봅시다 :-)</h4>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" readonly id="card-url" aria-label="read-card url" aria-describedby="button-copy">
                        <button onclick="copyURL()" type="button" class="btn btn-outline-secondary" id="button-copy" data-clipboard-target="#card-url">복사</button>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="button" class="share-btn">카카오톡으로 공유하기</button>
                </div>
            </div>
        </div>
        <!--end 모달 팝업-->
        <script th:inline="javascript" src="/js/dist/clipboard.min.js"></script>
        <script th:inline="javascript" src="/js/card.js"></script>
        <script th:inline="javascript" src="/js/popup.js"></script>
    </div>
</html>