span, textarea {
    font-family: 'BMYEONSUNG', serif;
}

.content {
    padding: 0 10% 0 10%;
}

.content > div > img {
    width: 100%;
    border-radius: 5%;
}

.information {
    font-size: x-large;
}

.text-box {
    width: 100%;
    height: 106px;
    border: none;
    background-attachment: local;
    background-image:
            linear-gradient(to right, white 10px, transparent 10px),
            linear-gradient(to left, white 10px, transparent 10px),
            repeating-linear-gradient(white, white 30px, #ccc 30px, #ccc 31px, white 31px);
    line-height: 31px;
    padding: 8px 10px;
}