h2, p {
    font-family: 'BMYEONSUNG', serif;
}

.content {
    padding: 0 10% 0 10%;
}

.content > button > img {
    width: 100%;
    border: 1px solid silver;
    border-radius: 5%;
    margin-bottom: 20px;
    padding: 5%;
}

button {
    border: none;
    background-color: transparent;
}